﻿
@model HaloDocDataAccess.ViewModels.CountStatusWiseRequestModel;
@using static HaloDocDataAccess.ViewModels.Constant;
@{
    Layout = "_AdminLayout";
}
<div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0 bg-light">
    <partial name="_StatesofAdmin.cshtml" />
    <div id="SearchResult">
    </div>

</div>

<script>
    $(function () {
        var val = 1;
        $("#hiddenfirst").val(val);
        $("#filterForm").submit();
    });

</script>