@model HaloDocDataAccess.ViewModels.BusinessSubmitRequests
@{
    Layout = "_AdminLayout";
}
<form class="container mt-5 viewcasecard" asp-controller="Admin" asp-action="Index">
    <div class="d-flex justify-content-between ">
        <div class="d-flex justify-content-evenly">
            <h3 class="">Notes</h3>
            <button class=" btn btn-success rounded-pill mx-2">Patient</button>
        </div>
        <button onclick="backbtn()" class="btn btn-outline-info shadow-none night-mode-btn">
            <span><a class="link" asp-controller="Admin" asp-action="Index">Back</a></span>
        </button>
    </div>
    <div class="d-flex justify-content-between mt-3">

        <div class="form-group d-flex align-items-center m-2 p-4 shadow">
            <div class="mx-4">
                <i class="fa-solid fa-arrow-right-arrow-left fa-2xl mt-4"></i>
            </div>
            <div>
                <p>
                    <strong> Transfer Notes</strong>

                </p>
                <p>Admin transferred to Dr. AGOLA on 27/09/2024 at 9:15AM:test assign </p>
            </div>

        </div>
        <div class="form-group d-flex align-items-center m-2 p-4 shadow">
            <div class="mx-4">
                <i class="fa-solid fa-user-tie fa-2xl mt-4"></i>
            </div>
            <div>
                <p>
                    <strong> Transfer Notes</strong>

                </p>
                <p>Admin transferred to Dr. AGOLA on 27/09/2024 at 9:15AM:test assign </p>
            </div>

        </div>
    </div>

    <div class="d-flex justify-content-between">

        <div class="form-group d-flex align-items-center m-2 p-4 shadow">
            <div class="mx-4">
                <i class="fa-solid fa-user-doctor fa-2xl mt-4"></i>
            </div>
            <div>
                <p>
                    <strong> Transfer Notes</strong>

                </p>
                <p>Admin transferred to Dr. AGOLA on 27/09/2024 at 9:15AM:test assign </p>
            </div>

        </div>
        <div></div>
    </div>

    <div class="form-group col-12 justify-content-end mt-4 p-4 shadow">
        <textarea asp-for="Symptoms" class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="7"
                  placeholder="Enter Brief Details of Symptoms" required>
         </textarea>
        <button class="btn btn-primary col-2 mt-2 "  type="submit">Save Changes</button>
    </div>

</form>

